.my-check {
  font-size: 25px;
  margin-left: 20px;
}

.pass-label {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: larger;
  margin-right: 160px;
}

.pass-input {
  height: 25px;
  width: 200px;
  font-size: 40px;
}

h5 {
  color: rgba(207, 2, 2, 0.855);
  margin-bottom: 50px;
  text-align: left;
  line-height: 0;
  position: relative;
  bottom: 10px;
}

/* the pass-input is forcing the icon to be in block level
when i used display block.
to solve that, we need to remove block level from input-pass
and create new div that is block level automatically
and include in it the symbol and the label */
.xcheck {
  font-size: 30px;
  margin-left: 15px;
  position: relative;
}

.hidden {
  display: none;
}
