body {
  margin: 0;
  font-family: sans-serif;
}

h1 {
  margin-left: 100px;
}

* {
  box-sizing: border-box;
}

.container {
  /* margin 0 auto */
  max-width: 800px; /* add these properties to center the container in the webpage */
  margin-left: auto; /* add these properties to center the container in the webpage */
  margin-right: auto; /* add these properties to center the container in the webpage */
}

.row {
  display: flex; /* so that children column classes flow horizontally */
}

.column-one-third {
  width: calc(100% / 3);
}

img {
  width: 100%;
}
