* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: monospace;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.proverb {
  font-size: 50px;
}

/* default state */
.char.dark {
  /* text-decoration: underline; */

  /* we added rge border bottom only in char black, so the next character will have the underline in in
  call back */
  border-bottom: 5px solid black;

  /* padding-bottom: 10px; increases or adding space the content and the border */

  /* text-underline-offset: 15px; */
}

/* correct state */
.char.green {
  color: rgb(3, 232, 3);

  /* text-decoration: underline black; */

  /* text-underline-offset: 15px; */
}

/* incorrect state */
.char.red {
  color: red;
  border-bottom: 5px solid red;

  /* text-decoration: underline;
  text-underline-offset: 15px; */
}
