.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 20px; /* unnecessary */
}

.row {
  display: flex;
  align-items: center;
}

/* .column-one-half > h1 {
  font-family: 'Tiempos Headline', sans-serif;
  font-size: 50px;
  font-weight: lighter;
  color: rgb(19, 19, 121);
} */

.column-one-half > img {
  padding: 0;
  width: 175px;
  height: auto;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(190deg)
    brightness(50%) contrast(80%);
}

.column-one-half > h1 {
  font-family: 'Tiempos Headline', sans-serif;
  color: rgba(128, 128, 128, 0.984);
  font-weight: lighter;
  position: relative;
  top: 25px;
}

.column-one-half > p {
  font-family: Avenir, serif;
  color: rgba(128, 128, 128, 0.747);
  font-size: 15px;
  font-weight: bolder;
  position: relative;
  top: 25px;
}

.column-one-half > button {
  font-size: larger;
  font-family: Avenir, serif;
  padding: 14px 45px;
  border-radius: 6px;
  background-color: rgba(26, 26, 85, 0.868);
  color: white;
  position: relative;
  top: 15px;
  left: 350px;
  cursor: pointer;
}

.column-one-half > button:active {
  background-color: black;
}

.navigation-links > h2 {
  font-family: Avenir, serif;
  font-size: 15px;
  color: rgb(189, 188, 188);
  cursor: pointer;
  margin-right: 45px; /* pushes all h2 to the left */
}

.hero-Image {
  padding: 50px;
  width: 1200px;
  height: 650px;
  filter: brightness(80%) contrast(80%);
  position: relative;
  right: 30px;
}

.adsTitle {
  color: white;
  font-size: 40px;
  font-family: 'Tiempos Headline', serif;
  position: absolute;
  font-weight: normal;
  top: 220px;
  left: 670px; /* starts from the beginning of the webpage
                from the left */
  filter: brightness(95%);
}

.adsText {
  font-family: Avenir, serif;
  font-size: 15px;
  color: white;
  position: absolute;
  top: 360px;
  left: 670px;
  filter: brightness(95%);
  line-height: 28px;
}

.Get-Started {
  font-size: larger;
  font-family: Avenir, serif;
  padding: 14px 45px;
  border-radius: 6px;
  background-color: rgba(26, 26, 85, 0.868);
  color: white;
  position: absolute;
  left: 670px;
  top: 600px;
  cursor: pointer;
}

.Get-Started:active {
  background-color: black;
}

.sub-container {
  width: 1300px;
  height: 500px;
  background-size: cover;
  background-color: rgb(248, 246, 246);
  position: relative;
  right: 80px;
}

.sub-container > h1 {
  font-family: 'Tiempos Headline', serif;
  color: rgba(128, 128, 128, 0.984);
  font-weight: lighter;
  position: absolute;
  top: 50px;
  left: 490px;
}

.sub-container > p {
  font-family: Avenir, serif;
  color: rgba(128, 128, 128, 0.984);
  position: absolute;
  top: 110px;
  left: 450px;
  font-size: 15px;
  line-height: 25px;
  text-align-last: center;
  transform: scaleX(1.13);
}

.sub-container > .primary-care-left {
  position: relative;
  top: 250px;
  left: 220px;
  line-height: 35px;
}

.primary-care-left > h3 {
  font-family: Avenir, serif;
  color: rgba(128, 128, 128, 0.859);
}

.sub-container > .primary-care-right {
  position: relative;
  top: 88px;
  left: 800px;
  line-height: 35px;
}

.primary-care-right > h3 {
  font-family: Avenir, serif;
  color: rgba(128, 128, 128, 0.859);
}

.full-column > .sub-container-two {
  width: 1300px;
  height: 450px;
  background-size: cover;
  background-color: rgb(97, 96, 96);
  position: relative;
  right: 80px;
  top: 60px;
}

.full-column > .sub-container-three {
  width: 1300px;
  height: 150px;
  background-size: cover;
  background-color: rgb(248, 246, 246);
  position: relative;
  right: 80px;
  top: 42px;
}

.sub-container-three > .privacy {
  font-family: Avenir, serif;
  color: rgba(128, 128, 128, 0.896);
  position: absolute;
  top: 45px;
  left: 95px;
  cursor: pointer;
}

.sub-container-three > .contact {
  font-family: Avenir, serif;
  color: rgba(128, 128, 128, 0.896);
  position: absolute;
  left: 280px;
  top: 45px;
  cursor: pointer;
}

.section1 > img {
  width: 175px;
  position: relative;
  top: 130px;
  left: 100px;
}

.section1 > p {
  font-family: Avenir, serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.884);
  line-height: 25px;
  position: absolute;
  left: 100px;
  top: 200px;
}

.section2 {
  width: 80px;
}

.section2 > h3 {
  font-family: Avenir, serif;
  color: rgba(255, 255, 255, 0.884);
  position: relative;
  left: 700px;
  top: 70px;
  font-weight: lighter;
  line-height: 30px;
  cursor: pointer;
}

.section3 > h3 {
  font-family: Avenir, serif;
  color: rgba(255, 255, 255, 0.884);
  position: relative;
  left: 1000px;
  top: -70px;
  font-weight: lighter;
  cursor: pointer;
}

.section3 {
  width: 140px;
}

.section2 > h3:hover {
  color: black;
}

.section3 > h3:hover {
  color: black;
}

.contact:hover {
  color: black;
}

.privacy:hover {
  color: black;
}

/* .ads { using positioning assignment approach, but mine is better
  width: 1155px;
  height: 600px;
  background-image: url("images/hero.jpg");
  background-size: cover;
  position: relative;
  top: 55px;
  filter: brightness(80%) contrast(80%);


} */

/* .ads > img { there is no image tag to control it so its illogical to use it here
  width: 100%; use only .ads
  using positioning assignment approach, but mine is better
} */

/* .ads-title {using positioning assignment approach, but mine is better
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50px;
  left: 700px;
} */

.column-one-half {
  flex-basis: 50%;
}

.full-column {
  flex-basis: 100%;

  /* position: relative; */
}

.full-column > hr {
  border-color: rgba(248, 248, 248, 0.345);
  margin-top: 15px; /* pushing the line to the top instead of going down */
  margin-left: -80px;
  margin-right: -80px;
}

.navigation-links {
  display: flex;
  justify-content: space-around;
}

.navigation-links > h2:hover {
  color: black;
}

.Contact-Us {
  background-color: rgba(26, 26, 85, 0.868);
  color: rgba(255, 255, 255, 0.889);
  border-radius: 5px;
  cursor: pointer;
  font-size: medium;
  padding: 0 15px;
}

.Contact-Us:active {
  background-color: black;
}

/* .overlay {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.75));
  height: 800px;
  width: 1000px;
  position: absolute;
  top: 300px;
  left: 80px;
} */
